@media (max-width: 768px) {
    .shapes-container {
        flex-direction: column; /* Empilhar os cards */
        height: auto; /* Ajustar altura do container */
    }
    .shape-center {
        width: 100%; /* Ocupa toda a largura disponível */
        margin-bottom: 20px; /* Espaçamento entre os cards */
    }
    .semi-circle,
    .semi-circle-right,
    .rectangle {
        width: 90%; /* Reduzir a largura das formas */
        height: 25vh; /* Reduzir a altura das formas */
    }
    .decoraciones > .title {
        width: 50%;
        border-bottom: 4px solid #80221E;
        height: auto;
        font-size: 0.7rem;
        border-top: 4px solid #80221E
    }
}